tqdm==4.50.0
scipy==1.5.2
numpy==1.19.5
umap_learn==0.5.0rc1
numba==0.51.2
matplotlib==3.3.1
torch==1.6.0+cu101
pynndescent==0.5.1
model==0.6.0
scikit_learn==0.24.1
tensorflow==2.4.1
umap==0.1.1
flask==1.1.2
flask-cors==3.0.9
